<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.resources.wu.mapper.CodeMapper">
  <resultMap id="BaseResultMap" type="com.resources.wu.entity.Code">
    <!--@mbg.generated-->
    <!--@Table wu.code-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, code, pwd
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from wu.code
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from wu.code
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="code" keyProperty="code" parameterType="com.resources.wu.entity.Code" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into wu.code (code, pwd)
    values (#{code,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.resources.wu.entity.Code">
    <!--@mbg.generated-->
    update wu.code
    set code = #{code,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-05-30-->
  <select id="findByAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from wu.code
    <where>
      <if test="id != null">
        and id=#{id,jdbcType=INTEGER}
      </if>
      <if test="code != null and code != ''">
        and code=#{code,jdbcType=VARCHAR}
      </if>
      <if test="pwd != null and pwd != ''">
        and pwd=#{pwd,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
</mapper>