<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.resources.wu.mapper.TProjectMapper">
  <resultMap id="BaseResultMap" type="com.resources.wu.entity.TProject">
    <!--@mbg.generated-->
    <!--@Table wu.t_project-->
    <id column="p_id" jdbcType="INTEGER" property="pId" />
    <result column="p_name" jdbcType="VARCHAR" property="pName" />
    <result column="p_custName" jdbcType="VARCHAR" property="pCustname" />
    <result column="p_money" jdbcType="INTEGER" property="pMoney" />
    <result column="p_startDay" jdbcType="DATE" property="pStartday" />
    <result column="p_endDay" jdbcType="DATE" property="pEndday" />
    <result column="p_state" jdbcType="OTHER" property="pState" />
    <result column="p_proName" jdbcType="VARCHAR" property="pProname" />
    <result column="p_proPhone" jdbcType="VARCHAR" property="pProphone" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    p_id, p_name, p_custName, p_money, p_startDay, p_endDay, p_state, p_proName, p_proPhone
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from wu.t_project
    where p_id = #{pId,jdbcType=INTEGER}
  </select>
  <insert id="insert" keyColumn="p_id" keyProperty="pId" parameterType="com.resources.wu.entity.TProject" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into wu.t_project (p_name, p_custName, p_money, 
      p_startDay, p_endDay, p_state, 
      p_proName, p_proPhone)
    values (#{pName,jdbcType=VARCHAR}, #{pCustname,jdbcType=VARCHAR}, #{pMoney,jdbcType=INTEGER}, 
      #{pStartday,jdbcType=DATE}, #{pEndday,jdbcType=DATE}, #{pState,jdbcType=OTHER}, 
      #{pProname,jdbcType=VARCHAR}, #{pProphone,jdbcType=VARCHAR})
  </insert>

<!--auto generated by MybatisCodeHelper on 2020-05-17-->
  <select id="findByAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from wu.t_project
    <where>
      <if test="pId != null">
        and p_id=#{pId,jdbcType=INTEGER}
      </if>
      <if test="pName != null and pName != ''">
        and p_name=#{pName,jdbcType=VARCHAR}
      </if>
      <if test="pCustname != null and pCustname != ''">
        and p_custName=#{pCustname,jdbcType=VARCHAR}
      </if>
      <if test="pMoney != null">
        and p_money=#{pMoney,jdbcType=INTEGER}
      </if>
      <if test="pStartday != null">
        and p_startDay=#{pStartday,jdbcType=DATE}
      </if>
      <if test="pEndday != null">
        and p_endDay=#{pEndday,jdbcType=DATE}
      </if>
      <if test="pState != null">
        and p_state=#{pState,jdbcType=OTHER}
      </if>
      <if test="pProname != null and pProname != ''">
        and p_proName=#{pProname,jdbcType=VARCHAR}
      </if>
      <if test="pProphone != null and pProphone != ''">
        and p_proPhone=#{pProphone,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
</mapper>